.header  {
  align-items: center;
  font-family: monospace;
  background: papayawhip;
  display: flex;
  flex-direction: row;
  gap: 250px;
  
}

a {
  display: flex;  
  justify-content: center;  
  flex-direction: column;           
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}
.left-links ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:10px;
}
.right-links ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:10px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  display: flex;
  justify-content:center;
  
}

ul {
  /* this removes the dots on the list items*/
  list-style-type:none;

}
 

