body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 550px;
  background: #fff;
  margin: 16px;
  margin-left: 300px;
  border: #1298f2;
  padding: 8px;
}

.title {
  padding: 8px;
  background: #e3f4ff;
  font-size: 16px;
}

.content {
  padding: 8px;
  width: 525px;
  height: auto;
  padding: 10px;
  margin-bottom: 8px;
  padding-left: -2px;
  padding-right: 15px;
  background: #e3f4ff;
  }

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  text-align: center;
  background: white;
  border: 2px solid #eee;
  display: block;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
}