body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 550px;
  background: #fff;
  margin: 100px auto;
  border: #1298f2;
  padding: 100px;
}

.title {
  background: #e3f4ff;
}

.content {
  width: 525px;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
  padding-left: -2px;
  padding-right: 15px;
  background: #e3f4ff;
  }

.button-container {
  background: #e3f4ff;
  padding-left: 200px;
  padding-bottom: 20px;
  padding-top: 10px;
}

button {
  background: white;
  border: 2px solid #eee;
  display: block;
  margin-top: 5px;
  margin-left: -25px;
  padding-top: 5px;
  padding-bottom:  5px;
}